<app-header titulo="cards"></app-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Por Fox</ion-card-subtitle>
    <ion-card-title>Los Simpsons</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus velit natus impedit, deserunt veniam harum atque voluptatibus dolorum excepturi aperiam sunt cumque? Harum numquam voluptate ad accusantium necessitatibus beatae vel?
  </ion-card-content>
</ion-card>
<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle>Por Fox</ion-card-subtitle>
    <ion-card-title>Los Simpsons</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="assets/img/simpsons.jpg"></ion-img>
    <div class="texto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus velit natus impedit, deserunt veniam harum atque voluptatibus dolorum excepturi aperiam sunt cumque? Harum numquam voluptate ad accusantium necessitatibus beatae vel?
    </div>
  </ion-card-content>
  

  
</ion-card>


</ion-content>
